body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #0002e4;
	color: #fff;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.nav-link:hover,
.nav-link.active:hover {
	color: #777;
}

#brand-name {
	font-weight: 550;
	font-family: 'Lobster';
	font-size: 1.65em;
}

#nav-login,
#nav-register {
	font-family: 'Lobster';
	font-weight: 400;
	font-size: 1.2em;
}

#header {
	margin-bottom: 25px;
}

nav.bg-light {
	background-color: #ba00b9 !important;
}

.btn-primary {
	background-color: #00b004 !important;
	font-weight: 600;
	font-size: 1.05em;
}

#login-page {
	margin: 0 auto;
	max-width: 900px;
	font-size: 1.05em;
}

#register-page {
	margin: 0 auto;
	max-width: 900px;
	font-size: 1.05em;
}

#login-btn,
#register-btn {
	margin-top: 5px;
}

.form-label {
	color: #fff;
	font-weight: 600;
}

.badge.bg-primary {
	background-color: #b9ff00 !important;
	color: black;
	font-family: 'Patrick Hand';
	font-size: 0.85em;
	padding: 4px 8px;
}

span.num-reviews > .badge.bg-primary {
	background-color: #ba00b9 !important;
	color: #fff;
	font-family: 'Open Sans';
	font-size: 0.6em;
	padding: 6px 0px;
	width: 130px;
}

.link,
.nav-link,
.link.active {
	text-decoration: none;
	color: #fff !important;
	/* text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000; */
	font-size: 1.2em;
}

.link:hover {
	font-size: 1.2em;
	color: #dadada !important;
}

#restaurant-list {
	max-width: 1080px;
	margin: 0 auto 25px auto;
}

#restaurant-list .list-group-item {
	background-color: #3435aa;
	color: #fff;
	font-size: 1.1em;
}

.restaurant-name {
	font-family: 'Lobster';
	font-size: 1.35em;
}

.restaurant-addr {
	font-family: 'Patrick Hand';
	font-weight: 550;
	margin-bottom: 4px;
}

.restaurant-rating {
	margin-left: 4px;
}

.facility-item {
	margin-right: 4px;
}

.restaurant-link {
	text-decoration: none;
	color: #fff;
}

.restaurant-link:hover {
	color: #777;
}

#menu-reviews-title {
	font-family: 'Lobster';
	font-size: 1.6em;
}
