body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.nav-link {
	color: #000;
}

.nav-link:hover,
.nav-link.active:hover {
	color: #777;
}

#brand-name {
	font-weight: 500;
	font-size: 1.4em;
}

#header {
	margin-bottom: 25px;
}

#login-page {
	max-width: 900px;
	font-size: 1.05em;
}

.link {
	text-decoration: none;
	color: black;
}

.link:hover {
	color: #4d4d4d;
}
